* {
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
    background: url(Assets/Backgrounds/background.png) no-repeat center center fixed;
    background-size: cover;
}

/*TITLE BAR*/

.title h1, p {
    margin: 0;
    color: #fff;
    width: 50%;
}
.title h1 {
    text-transform: uppercase;
}
.title {
    background: black;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

/*NAVIGATION*/

.nav table {
    position: fixed;
    float: right;
    right: 20px;
    bottom: 25px;
    border-collapse: collapse;
    color: white;
    z-index: 100;
}
.nav td {
    width: 60px;
    height: 45px;
}
.nav td img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: rotate3d(4,4,4)
    width: 32px;
    display: block;
    margin: auto;
}
.nav td img:hover {
    width: 40px;
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}
.nav td .active {
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    width: 40px;
}
.nav td:hover > .nav td

@media (max-width: 640px) {
    .title p {
        display: none;
    }
    .nav table {
        bottom: 35px;
    }
    .nav td {
        width: 50px;    
    }
}